<template>
  <div v-if="product" class="space-y-4 pt-4 pb-24">
    <ShoppingNavBar />
    <ShoppingMenu />
    <div class="h-auto lg:m-auto max-w-screen-2xl space-y-4 px-4">
      <Breadcrumb :items="['Home', product.name]" />
      <div class="space-y-8">
        <div class="grid grid-cols-2 w-full px-24 space-x-8 pt-12">
          <div class="space-y-6">
            <img :src="product.images[0].image_url" class="w-full" :alt="product.name" />
            <div class="grid grid-cols-3 space-x-2">
              <template v-for="(image, i) in product.images" :key="image">
                <img
                  v-if="i <= 2"
                  :src="image.image_url"
                  class="w-full"
                  :alt="product.name"
                />
              </template>
            </div>
          </div>
          <div class="p-4 space-y-2">
            <div class="font-bold text-xl">{{ product.name }}</div>
            <div class="font-semibold">Ubrukopi
            </div>
            <div class="font-semibold text-red-500 text-lg">
              Rp {{ currencyFormater(product.price) }}
            </div>
            <div class="flex space-x-4">
              <div class="flex space-x-1">
                <button class="w-12 h-12 border border-gray-100">-</button>
                <input type="text" class="w-16 h-12 text-center focus:outline-none border border-gray-100" value="1" readonly />
                <button class="w-12 h-12 border border-gray-100">+</button>
              </div>
              <div>
                <button class="h-12 px-4 bg-red-500 text-white border border-red-500 hover:bg-white hover:text-red-500 transition-all">
                  TAMBAH KE KERANJANG
                </button>
              </div>
              <div>
                <button class="h-12 w-12 px-3 bg-gray-200">
                  <img src="@/assets/icons/heart.svg" class="w-full" />
                </button>
              </div>
            </div>
            <div>
              {{ product.description }}
            </div>
          </div>
        </div>
        <div class="flex">
          <Tab
            class="mx-auto"
            :items="items"
          />
        </div>
        <div class="space-y-12">
          <div class="flex">
            <div class="uppercase text-lg font-bold mx-auto">
              <div class="py-2">Rekomendasi Untuk Anda</div>
              <hr class="border-b-2 border-red-500 w-1/2 mx-auto" />
            </div>
          </div>
          <div class="grid grid-cols-3 gap-4 px-24">
            <template v-for="(product, i) in data.list" :key="product">
              <ShoppingProduct v-if="i <= 2" :product="product" />
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useProducts, products, product } from '@/composable/product'
import { useRouter } from 'vue-router'
import Breadcrumb from '@/components/Breadcrumb.vue'
import ShoppingNavBar from '@/components/feature/shopping/NavBar.vue'
import ShoppingMenu from '@/components/feature/shopping/Menu.vue'
import ShoppingProduct from '@/components/feature/shopping/Product.vue'
import Tab from '@/components/Tab.vue'

export default defineComponent({
  name: 'ShoppingDetail',
  components: {
    Breadcrumb,
    ShoppingNavBar,
    ShoppingMenu,
    ShoppingProduct,
    Tab
  },
  setup() {
    const router = useRouter()

    if (!product.value) {
      router.push('/shopping')
      return
    }

    const { getProducts } = useProducts()

    getProducts()

    const data = products.value.data.data

    const currencyFormater = (value: number) => {
      return value.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
    }

    const items = ref([
      {
        header: 'Deskripsi',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
      },
      {
        header: 'Informasi',
        description: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?'
      }
    ])

    return {
      product,
      currencyFormater,
      items,
      products,
      data
    }
  }
})
</script>