<template>
  <div class="space-y-4 pt-4 pb-24">
    <ShoppingNavBar />
    <ShoppingMenu />
    <div class="h-auto lg:m-auto max-w-screen-2xl space-y-4 px-4">
      <Breadcrumb :items="['Home', 'Produk', 'Roasted Bean']" />
      <div class="flex space-x-4">
        <ShoppingFilter />
        <suspense>
          <ShoppingList />
        </suspense>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Input from '@/components/Input.vue'
import Breadcrumb from '@/components/Breadcrumb.vue'
import ShoppingNavBar from '@/components/feature/shopping/NavBar.vue'
import ShoppingMenu from '@/components/feature/shopping/Menu.vue'
import ShoppingFilter from '@/components/feature/shopping/Filter.vue'
import ShoppingList from '@/components/feature/shopping/List.vue'

export default defineComponent({
  name: 'Shopping',
  components: {
    Input,
    Breadcrumb,
    ShoppingNavBar,
    ShoppingMenu,
    ShoppingFilter,
    ShoppingList
  }
})
</script>