<template>
  <Input type="text" v-model="data.firstName" :message="isInvalid && !data.firstName ? 'The first name field is required.' : ''" placeholder="Nama Depan" />
  <Input type="text" v-model="data.lastName" :message="isInvalid && !data.lastName ? 'The last name field is required.' : ''" placeholder="Nama Belakang" />
  <Input type="email" v-model="data.email"  :message="checkEmail" placeholder="Email" />
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { registerData as data, registerValidation } from '@/composable/auth'
import Input from '@/components/Input.vue'

export default defineComponent({
  name: 'RegisterFirstForm',
  components: {
    Input
  },
  props: {
    model: { type: Object },
    isInvalid: { type: Boolean }
  },
  emits: ['input'],
  setup(props) {
    const checkEmail = computed(() => {
      if (!props.isInvalid) {
        return ''
      }

      if (!data.email) return 'The email field is required.'
      if (registerValidation.value?.email) return registerValidation.value.email[0]
    })
    return { data, registerValidation, checkEmail }
  }
})
</script>