<template>
  <Input type="text" v-model="data.phone" :message="checkPhone" placeholder="Nomor Telepon" />
  <Input type="password" v-model="data.password" :message="checkPassword" placeholder="Password" />
  <Input type="password" v-model="data.confirmPassword" :message="checkConfirmPassword" placeholder="Konfirmasi Password" />
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { registerData as data, registerValidation } from '@/composable/auth'
import Input from '@/components/Input.vue'

export default defineComponent({
  name: 'RegisterSecondForm',
  components: {
    Input
  },
  props: {
    model: { type: Object },
    isInvalid: { type: Boolean }
  },
  emits: ['input'],
  setup(props) {
    const checkPhone = computed(() => {
      if (!props.isInvalid) {
        return ''
      }

      if (!data.phone) return 'The phone field is required.'
      if (registerValidation.value?.phone) return registerValidation.value.phone[0]
    })

    const checkPassword = computed(() => {
      if (!props.isInvalid) {
        return ''
      }

      if (!data.password) return 'The password field is required.'
      if (registerValidation.value?.password) return registerValidation.value.password[0]
    })

    const checkConfirmPassword = computed(() => {
      if (!props.isInvalid) {
        return ''
      }

      if (data.password !== data.confirmPassword) return 'The password field and confirm password are not the same.'
    })
    return { data, checkPhone, checkPassword, checkConfirmPassword }
  }
})
</script>