<template>
  <div class="w-80 space-y-2">
    <div class="font-semibold uppercase">
      URUTKAN BERDASARKAN
    </div>
    <Collapse title="Harga">
      <div class="mt-2"></div>
      <RangeSlider @input:max="inputMax" @input:min="inputMin" />
    </Collapse>
    <Collapse title="Origin">
      <div v-for="origin in data.origins" :key="origin" class="flex gap-2">
        <input type="checkbox" :id="origin.name" class="my-auto" />
        <label class="my-auto" :for="origin.name">{{ origin.name }}</label>
        <span class="my-auto ml-auto">{{ `(${origin.total})` }}</span>
      </div>
    </Collapse>
    <Collapse title="Species">
      <div v-for="species in data.specieses" :key="species" class="flex gap-2">
        <input type="checkbox" :id="species.name" class="my-auto" />
        <label class="my-auto" :for="species.name">{{ species.name }}</label>
        <span class="my-auto ml-auto">{{ `(${species.total})` }}</span>
      </div>
    </Collapse>
    <Collapse title="Roast Level">
      <div v-for="roastLevel in data.roastLevels" :key="roastLevel" class="flex gap-2">
        <input type="checkbox" :id="roastLevel.name" class="my-auto" />
        <label class="my-auto" :for="roastLevel.name">{{ roastLevel.name }}</label>
        <span class="my-auto ml-auto">{{ `(${roastLevel.total})` }}</span>
      </div>
    </Collapse>
    <Collapse title="Tasted">
      <div v-for="tasted in data.tasteds" :key="tasted" class="flex gap-2">
        <input type="checkbox" :id="tasted.name" class="my-auto" />
        <label class="my-auto" :for="tasted.name">{{ tasted.name }}</label>
        <span class="my-auto ml-auto">{{ `(${tasted.total})` }}</span>
      </div>
    </Collapse>
    <Collapse title="Processing">
      <div v-for="processing in data.processings" :key="processing" class="flex gap-2">
        <input type="checkbox" :id="processing.name" class="my-auto" />
        <label class="my-auto" :for="processing.name">{{ processing.name }}</label>
        <span class="my-auto ml-auto">{{ `(${processing.total})` }}</span>
      </div>
    </Collapse>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'
import Collapse from '@/components/Collapse.vue'
import RangeSlider from '@/components/RangeSlider.vue'

export default defineComponent({
  name: 'ShoppingFilter',
  components: {
    Collapse,
    RangeSlider
  },
  setup() {
    const data = reactive({
      origins: [
        { name: 'Aceh', checked: false, total: 8 },
        { name: 'Semarang', checked: false, total: 2 },
        { name: 'Bandung', checked: false, total: 7 },
        { name: 'Jawa', checked: false, total: 5 },
        { name: 'Amerika Selatan', checked: false, total: 6 },
        { name: 'Lain - lain', checked: false, total: 8 },
      ],
      specieses: [
        { name: 'Arabika', checked: false, total: 128 },
        { name: 'Robusta', checked: false, total: 23 },
        { name: 'Blend', checked: false, total: 9 },
      ],
      roastLevels: [
        { name: 'Light Roast', checked: false, total: 8 },
        { name: 'Medium Roast', checked: false, total: 2 },
        { name: 'Dark Roast', checked: false, total: 7 },
        { name: 'Light to Medium Roast', checked: false, total: 5 },
      ],
      tasteds: [
        { name: 'Sweet', checked: false, total: 18 },
        { name: 'Floral', checked: false, total: 21 },
        { name: 'Fruity', checked: false, total: 7 },
        { name: 'Nutty', checked: false, total: 5 },
        { name: 'Cocoa', checked: false, total: 21 },
        { name: 'Spices', checked: false, total: 18 },
      ],
      processings: [
        { name: 'Honey White', checked: false, total: 8 },
        { name: 'Natural', checked: false, total: 2 },
        { name: 'Honey Gold', checked: false, total: 7 },
        { name: 'Honey Yellow', checked: false, total: 5 },
      ]
    })

    const inputMax = (value: any) => {
      // console.log(value)
    }

    const inputMin = (value: any) => {
      // console.log(value)
    }

    return {
      data,
      inputMax,
      inputMin
    }
  }
})
</script>