<template>
  <div class="w-full space-y-4">
    <div class="flex w-full">
      <div>
        Menampilkan
        {{ data.list.length }}
        dari {{ data.total }}
      </div>
      <div class="ml-auto">
        Urutkan
        <select v-model="productPayload.order" class="focus:outline-none p-1 bg-gray-100" @change="fetchProduct">
          <option value="product_name">Nama Produk</option>
          <option value="price">Harga</option>
          <option value="date">Tanggal</option>
        </select>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <ShoppingProduct v-for="product in data.list" :key="product" :product="product" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ShoppingProduct from '@/components/feature/shopping/Product.vue'
import { useProducts, products, productPayload } from '@/composable/product'

export default defineComponent({
  name: 'ShoppingList',
  components: {
    ShoppingProduct
  },
  async setup() {
    const { getProducts } = useProducts()

    const fetchProduct = async () => {
      await getProducts()
    }

    await fetchProduct()

    const data = products.value.data.data

    return {
      data,
      productPayload,
      fetchProduct
    }
  }
})
</script>