<template>
  <div class="w-full bg-gray-50 px-12">
    <div class="h-auto lg:m-auto max-w-screen-2xl">
      <div class="py-4 bg-red-500 w-44 flex cursor-pointer">
        <div class="mx-auto flex text-white">
          BELANJA <img src="@/assets/icons/carret-down.svg" class="w-5 h-5 my-auto" alt="shopping-carret-down" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ShoppingMenu'
})
</script>