<template>
  <div class="flex h-auto lg:m-auto max-w-screen-2xl">
    <div class="flex ml-auto">
      <Input type="text">
        <button class="px-6 bg-red-500 rounded-r text-white">
          <img class="w-5 h-5" src="@/assets/icons/search.svg" alt="shopping-search" />
        </button>
      </Input>
      <button class="p-4">
        <img class="w-5 h-5" src="@/assets/icons/heart.svg" alt="shopping-heart" />
      </button>
      <button class="p-4">
        <img class="w-5 h-5" src="@/assets/icons/shopping-bag.svg" alt="shopping-bag" />
      </button>
      <button class="p-4">
        <img class="w-5 h-5" src="@/assets/icons/user.svg" alt="shopping-user" />
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Input from '@/components/Input.vue'

export default defineComponent({
  name: 'ShoppingNavBar',
  components: {
    Input
  }
})
</script>