<template>
  <Card @click="detail(product)" class="border hover:border-blue-400 p-4 flex cursor-pointer">
    <div class="mx-auto text-gray-600 space-y-2">
      <div v-if="product.images.length">
        <img :src="product.images[0].image_url" class="h-52 mx-auto" :alt="product.name" />
      </div>
      <div class="text-center font-semibold">
        {{ product.name }}
      </div>
      <div class="text-center font-semibold text-red-500">
        Rp {{ currencyFormater(product.price) }}
      </div>
    </div>
  </Card>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useRouter } from 'vue-router'
import { product as productDetail } from '@/composable/product'
import Card from '@/components/Card.vue'

export default defineComponent({
  name: 'ShoppingProduct',
  components: {
    Card
  },
  props: {
    product: {
      type: Object
    }
  },
  setup() {
    const router = useRouter()

    const currencyFormater = (value: number) => {
      return value.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
    }

    const detail = (product: any) => {
      productDetail.value = product
      router.push({
        path: '/shopping/detail'
      })
    }

    return {
      currencyFormater,
      detail
    }
  }
})
</script>