<template>
  <div class="flex space-x-3">
    <template v-for="(item, i) in items" :key="item">
      <span
        class="my-auto"
        :class="{ 'text-red-500' : items.length === (i + 1) }"
      >
        {{ item }}
      </span>
      <img
        v-if="items.length !== (i + 1)"
        src="@/assets/icons/double-chevrons.svg"
        class="w-3 h-3 my-auto"
      />
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Breadcrumb',
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
})
</script>
