<template>
  <div class="w-full">
    <div class="flex w-full bg-gray-50 p-1 cursor-pointer font-semibold text-gray-800 border-b border-b-gray-200" @click="show = !show">
      {{ title }}
      <img
        class="ml-auto transform transition-all"
        :class="{ 'rotate-180': !show }"
        src="@/assets/icons/chevron.svg"
      />
    </div>
    <div v-if="show" class="p-1">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'Collapse',
  props: {
    title: { type: String }
  },
  setup() {
    const show = ref(true)

    return { show }
  }
})
</script>