<template>
  <div class="space-y-1">
    <div
      class="drop-shadow bg-white rounded flex"
    >
      <input
        class="bg-transparent focus:outline-none w-96 p-3"
        :type="inputType"
        :placeholder="placeholder"
        :value="modelValue"
        @input="doInput"
      />
      <div
        v-if="type === 'password'"
        class="w-14 text-center mr-3 flex cursor-pointer"
        @click="showPassword"
      >
        <span class="m-auto">Show</span>
      </div>
      <slot></slot>
    </div>
    <div class="text-red-600 text-sm">
      {{ message }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'Input',
  props: {
    type: { type: String },
    placeholder: { type: String },
    message: { type: String },
    modelValue: { type: String },
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const inputType = ref(props.type)

    const showPassword = () => {
      inputType.value = inputType.value === 'password' ? 'text' : 'password'
    }

    const doInput = (event: any) => {
      emit('update:modelValue', event.target.value)
    }

    return {
      inputType,
      showPassword,
      doInput
    }
  }
})
</script>