<template>
  <div
    class="text-white p-4 flex space-x-2"
    :class="{
      'bg-red-600' : type === 'error',
      'bg-blue-400' : type === 'success',
      'bg-yellow-500' : type === 'warning'
    }"
  >
    <img src="@/assets/icons/question.svg" class="w-6 h-6" />
    <div>{{ message }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Message',
  props: {
    message: { type: String },
    type: { type: String, default: 'error' }
  }
})
</script>