<template>
  <div class='range-slider mb-4'>
    <div>
      <input type="range" min="0" max="5000000" step="1" v-model="sliderMin">
      <input type="range" min="0" max="5000000" step="1" v-model="sliderMax">
    </div>
  </div>
  <div class="grid grid-cols-2 space-x-4">
    <input
      type="number"
      class="border border-gray-300 p-1 focus:outline-none rounded bg-gray-100"
      min="0"
      max="5000000"
      step="1"
      readonly
      v-model="sliderMin"
    />
    <input
      type="number"
      class="border border-gray-300 p-1 focus:outline-none rounded bg-gray-100"
      min="0"
      max="5000000"
      step="1"
      readonly
      v-model="sliderMax"
    />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import debounce from '@/utils/debounce'

export default defineComponent({
  name: 'RangeSlider',
  data() {
    return {
      minAngle: 0,
      maxAngle: 5000000
    }
  },
  computed: {
    sliderMin: {
      get: function() {
        const val = parseInt(this.minAngle);
        return val;
      },
      set: function(val) {
        val = parseInt(val);
        if (val > this.maxAngle) {
          this.maxAngle = val;
        }
        this.minAngle = val;
      }
    },
    sliderMax: {
      get: function() {
        const val = parseInt(this.maxAngle);
        return val;
      },
      set: function(val) {
        val = parseInt(val);
        if (val < this.minAngle) {
          this.minAngle = val;
        }
        this.maxAngle = val;
      }
    }
  },
  watch: {
    sliderMin(value) {
      debounce(() => {
        this.$emit('input:min', value)
      }, 1000)()
    },
    sliderMax(value) {
      debounce(() => {
        this.$emit('input:max', value)
      }, 1000)()
    }
  },
  emits: ['input:max', 'input:min']
})
</script>

<style scoped>
.range-slider {
  width: 300px;
  text-align: center;
  position: relative;
}

.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}



input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #eee;
  border-radius: none;
  box-shadow: none;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 25px;
  background: #444;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
</style>
