<template>
  <div class="space-y-4">
    <div class="flex w-full">
      <div class="flex space-x-4 mx-auto">
        <template v-for="(item, i) in items" :key="item">
          <div
            class="uppercase mx-auto text-lg font-bold px-12 py-3 cursor-pointer"
            :class="{
              'text-red-500 border-b-4 border-red-500': active === i
            }"
            @click="active = i"
          >
            {{ item.header }}
          </div>
        </template>
      </div>
    </div>
    <template v-for="(item, j) in items" :key="`${item}${j}`">
      <div v-if="active === j" class="px-24">
        {{ item.description }}
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'Tab',
  props: {
    items: { type: Array }
  },
  setup() {
    const active = ref(0)

    return {
      active
    }
  }
})
</script>
