<template>
  <div class="h-screen w-full flex">
    <div class="m-auto bg-white drop-shadow px-6 py-8 rounded space-y-4">
      <h1 class="font-bold text-xl">Masuk</h1>
      <Message v-if="message" :message="message" />
      <Input type="email" v-model="data.email" :message="validation.email" placeholder="Email" />
      <Input type="password" v-model="data.password" :message="validation.password" placeholder="Password" />
      <div class="text-right text-sm">Lupa password?</div>
      <button class="w-full bg-red-500 text-white p-3 rounded drop-shadow-lg" @click="doLogin">
        MASUK
      </button>
      <hr class="w-72 mx-auto" />
      <div class="text-center text-sm text-gray-500">
        Belum punya akun?
        <RouterLink to="/register">
          <span class="text-black font-semibold">Daftar Sekarang</span>
        </RouterLink>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import { useRouter } from 'vue-router'
import Input from '@/components/Input.vue'
import Message from '@/components/Message.vue'
import { useAuth } from '@/composable/auth'

export default defineComponent({
  name: 'Login',
  components: {
    Input,
    Message
  },
  setup() {
    const { login } = useAuth()
    const router = useRouter()
    const data = reactive({
      email: '',
      password: ''
    })
    const validation = reactive({
      email: '',
      password: ''
    })
    const message = ref('')

    if (localStorage.getItem('user')) {
      router.push('/shopping')
    }

    const doLogin = async () => {
      const response = await login(data)

      validation.email = ''
      validation.password = ''
      message.value = ''

      if (response.data.code !== 200) {
        message.value = response.data.message

        if (response.data.code === 400) {
          validation.email = response.data.data.email ? response.data.data.email[0] : ''
          validation.password = response.data.data.password ? response.data.data.password[0] : ''
        }

        return
      }

      router.push('/shopping')
    }

    return { data, doLogin, validation, message }
  }
})
</script>