<template>
  <div class="h-screen w-full flex">
    <div class="m-auto bg-white drop-shadow px-6 py-8 rounded space-y-4">
      <h1 v-if="!nextStep" class="font-bold text-xl">Daftar Sekarang</h1>
      <h1 v-else class="cursor-pointer" @click="nextStep = false">Kembali</h1>
      <Message v-if="message" :message="message" :type="messageType" />
      <RegisterFirstForm v-if="!nextStep" :isInvalid="isFirstFormInvalid" />
      <RegisterSecondForm v-else :isInvalid="isSecondFormInvalid" />
      <button
        class="w-full bg-red-500 text-white p-3 rounded drop-shadow-lg"
        @click="doNextStep"
      >
        SELANJUTNYA
      </button>
      <hr class="w-72 mx-auto" />
      <div class="text-center text-sm text-gray-500">
        Sudah punya akun?
        <RouterLink to="/login">
          <span class="text-black font-semibold">Masuk</span>
        </RouterLink>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useAuth, registerData, registerValidation } from '@/composable/auth'
import Message from '@/components/Message.vue'
import RegisterFirstForm from '@/components/feature/register/FirstForm.vue'
import RegisterSecondForm from '@/components/feature/register/SecondForm.vue'

export default defineComponent({
  name: 'Register',
  components: {
    Message,
    RegisterFirstForm,
    RegisterSecondForm
  },
  setup() {
    const nextStep = ref(false)
    const message = ref('')
    const messageType = ref('error')
    const router = useRouter()

    const isFirstFormInvalid = ref(false)
    const isSecondFormInvalid = ref(false)

    const { register } = useAuth()

    if (localStorage.getItem('user')) {
      router.push('/shopping')
    }

    const doNextStep = async () => {
      message.value = ''

      if (!nextStep.value) {
        if (!registerData.firstName || !registerData.lastName || !registerData.email) {
          isFirstFormInvalid.value = true
          return
        }

        isFirstFormInvalid.value = false
        nextStep.value = true
        return
      }

      if (
        !registerData.phone ||
        !registerData.password ||
        !registerData.confirmPassword ||
        (registerData.password !== registerData.confirmPassword)
      ) {
        isSecondFormInvalid.value = true
        return
      }

      isSecondFormInvalid.value = false
      registerValidation.value = await register()

      const statusCode = registerValidation.value.data.code
      const statusMessage = registerValidation.value.data.message

      registerValidation.value = registerValidation.value?.data.data

      if (registerValidation.value.email && statusCode !== 200) {
        nextStep.value = false
        isFirstFormInvalid.value = true
      }

      if (
        (registerValidation.value.phone ||
        registerValidation.value.password)  &&
        statusCode !== 200
      ) {
        isSecondFormInvalid.value = true
      }

      if (statusCode === 200) {
        message.value = statusMessage
        messageType.value = 'success'
        resetData()
      } else {
        message.value = statusMessage
        messageType.value = 'error'
      }
    }

    const resetData = () => {
      registerData.firstName = ''
      registerData.lastName = ''
      registerData.email = ''
      registerData.phone = ''
      registerData.password = ''
      registerData.confirmPassword = ''
    }

    return {
      nextStep,
      message,
      messageType,
      doNextStep,
      isFirstFormInvalid,
      isSecondFormInvalid
    }
  }
})
</script>